

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

div.fav-movie:active::after {
    transform: scale(0.9);
}

@keyframes pumping {
    50% {
        transform: scale(0.95);
    }
}

.shape {
    --size: 8px;
    position: absolute;
    z-index: 2000;
    /* top: calc(50% - var(--size)); */
    bottom: 0;
    left: calc(50% - var(--size));
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
    animation: popup var(--d) cubic-bezier(0.08, 0.56, 0.53, 0.98) forwards;
}

.square {
    border-radius: 4px;
    background-color: var(--c);
    z-index: 100;
}

.circle {
    border-radius: 50%;
    background-color: var(--c);
    z-index: 100;
}

.triangle {
    width: 0px;
    height: 0px;
    background-color: none;
    border-top: var(--size) solid transparent;
    border-bottom: calc(var(--size) * 2) solid var(--c);
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    z-index: 100;
}

.heart {
    --size: 6px;
    background-color: var(--c);
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--c);
    border-radius: 50%;
    z-index: 100;
}

.heart::before {
    left: -50%;
}

.heart::after {
    top: -50%;
}

@keyframes popup {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(var(--x), var(--y)) rotate(var(--r));
    }
}

